html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: customFont;
    src: url(../fonts/Roboto-Regular.ttf);
}

html {
    font-family: customFont, Arial, Helvetica, sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 200px minmax(550px, max-content) 350px;
}

.header {
    display: flex;
    justify-content: center;
    width: auto;
    background-color: #333;
    position:sticky;
    top: 0;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.headerContent {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr;
    margin: 30px;
    text-align: center;  
}

.header > nav {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    font-size: 0.9rem;
}

.header > nav ul li {
    margin-right: 15px;
    margin-left: 15px;
}

nav ul a:hover {
    color: rgb(255, 24, 24);
    transition: 0.3s;
}

nav ul a:hover {
    color: rgb(255, 24, 24);
    transition: 0.3s;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background-door.jpg);
    background-position: 10%;
    position: relative;
    text-align: center;
}

.heading h1 {
    position: absolute;
    font-size: 3rem;
    color: white;
}

.heading::before { /*transparent black on top of bg image*/
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.7);

}

.introSection {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0; /* prevents content appearing above sticky header*/
}

.introContent {
    position: absolute;
    width: 750px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.introContent > * {
   
}

.introContent h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

.introContent h3 {
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.introContent p{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.introContent svg {
    margin-right: 5px;
    color: rgb(219, 31, 31);
}

.introContent > div {
    width: 100%;
    padding: 20px 0px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    text-align: left;
    margin-bottom: 20px;
}

.introContent button {
  padding: 0.7rem 3rem;
  font-size: 1.3rem;
  background-color: rgb(219, 31, 31);
  border: none;
  border-radius: 10px;
  color: white;
  letter-spacing: 0px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
  transition: 0.3s;
}

.introContent button:hover {
    background-color: white;
    color: rgb(31, 4, 4);
    transition: 0.3s;
}

.introContent > img {
    width: 90%;
    height: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.253);
}

.footer {
    display: flex;
    justify-content: center;
    width: auto;
    background-color: rgb(0, 1, 44);
    color: white;
}

.footerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    width: 50%;
    margin: 30px;
    gap: 15px;
}

.footerGrid h2 {
    font-size: 1.4rem;
    font-weight: bold;
    align-self: center;
}

.footerGrid ul {
    display: flex;
    flex-direction: column;
}

.footerGrid li {
    line-height: 2.5;
}

.fa {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
  }

.iconDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(37, 38, 85);
    transition: 0.3s;
    margin-top: 20px;
}

.iconDiv:nth-child(2) {
    margin-left: 20px;
}

.introContent .iconDiv:first-of-type{
    background-color: rgb(66 103 178);
    color: white;
}

.introContent .iconDiv:nth-of-type(2){
    background-color: rgb(223, 18, 154);
    color: white;
}

.introContent .iconDiv:first-of-type:hover{
    background-color: rgb(219, 31, 31);
    color: white;
}

.introContent .iconDiv:nth-of-type(2):hover{
    background-color: rgb(219, 31, 31);
    color: white;
}

.iconDiv:hover {
    background-color: rgb(219, 31, 31);
    transition: 0.3s;
}

.footerGrid h3 {
    font-size: 1.3rem;
    color: rgb(255, 255, 255, 0.5);
    margin-bottom: 5px;
}

.footerGrid > div:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 10px;
}

@media screen and (max-width: 850px) {

    #container {
        display: grid ;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(60px, min-content) 200px minmax(550px, max-content)  350px;
    }

    .introContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .introText {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .introContent * {
        margin-bottom: 10px;
    }

    .introContent p {
        text-align: center;
        font-size: 1rem;
    }
    
    .footerGrid {
        width: auto;
    }
    
    
    }
